<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid" th:fragment="HomeFragment">
    <div class="card-deck row">
        <div class="card col m-2">
            <img class="card-img-top" src="../static/resources/images/cat.jpg"
                 th:src="@{/resources/images/cat.jpg}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cats</h5>
                <p class="card-text">Text 1</p>
                <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
            </div>
        </div>
        <div class="card col m-2">
            <img class="card-img-top" src="../static/resources/images/dog.jpg"
                 th:src="@{/resources/images/dog.jpg}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dogs</h5>
                <p class="card-text">Text 2</p>
                <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
            </div>
        </div>
        <div class="card col m-2">
            <img class="card-img-top" src="../static/resources/images/fish.png"
                 th:src="@{/resources/images/fish.png}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fishes</h5>
                <p class="card-text">Text 3</p>
                <p class="card-text"><small class="text-muted">Last updated 9 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>